{
  "extends": [
    "eslint:recommended", "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/prop-types": 0,
    "react/jsx-indent-props": 0,
    "no-console": 0,
    "react/jsx-indent": [2,4]
  }
}
